<div class="pantalla-completa">
    <div class="logo">
        <%= image_tag(asset_path('lafLessMargin'), height: '100px') %>
    </div>
    <div>
        <%= react_component("Registration") %>
    </div>
</div>