.cmdErrores{
    background-color: red;
    color: white;
}
.pantalla-completa{
  height: 100vh;
  // background-color: #5506C1;
  position: absolute;
  width: 100%;
}
body{
  font-family: 'Muli', sans-serif;
  background-color: #fafafa;
}

h2{ 
   font-family: 'Open Sans', sans-serif;
   color: #5506C1;
}
.logo{
  text-align: center;

}
a{
  color: #5506C1;
  text-decoration: none;
  line-height: 2em;
}
.field-profile{
  padding-left: 5px;
  text-align: center;
  margin-top: 0.25em;
}
.button-profile{
  width: 90%;
}
.text-profile{
  width: 90%;
}
.mapa{
  // position: absolute;
  position: relative;
  max-width: 500px;
  width: 100%;
  max-height: 500px;
  max-width: 0px auto;
  float: none;
  z-index: 1;
  background-color: black;
}

.mapContainer{
  position: relative;
  text-align: center;
  border-style: solid 2px;
  display: table;
  min-height: 100px;
}

.preloader{
  position: absolute;
  top: 10%;
  z-index: 0;
}
.mapMarker{
  position: absolute;
  top: 50%;
  left: 50%;
  //color: white;
  font-size: 1em;
  margin: 0px auto;
  float: none;
  
  z-index: 5;
  display: table-cell;
  vertical-align: middle;
}
.fabs{
  margin: 0;
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  position: fixed;
  z-index: 10;
}
.lbn{
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 6;
}
.contAiner{
  padding-top: 5em;
}

.stepper{
  width: 100%;
  text-align: center;
  background-color: black;
}
.labelOptions{
  font-size: 0.76em;
  text-align: left;
  margin-left: 2.5em;
  color: grey;
}