.cmdErrores{
    background-color: red;
    color: white;
}
.pantalla-completa{

  height: 100vh;
  // background-color: #5506C1;
}
body{
  font-family: 'Muli', sans-serif;
  background-color: #fafafa;
}

h2{ 
   font-family: 'Open Sans', sans-serif;
   color: #5506C1;
}
.logo{
  text-align: center;

}
a{
  color: #5506C1;
  text-decoration: none;
  line-height: 2em;
}
.field-profile{
  padding-left: 5px;
  text-align: center;
  margin-top: 0.25em;
}
.button-profile{
  width: 90%;
}
.text-profile{
  width: 90%;
}
.mapa{
  // position: absolute;
  max-width: 500px;
  width: 100%;
  max-height: 500px;
  max-width: 0px auto;
  float: none;
}
.mapContainer{
  position: relative;
  text-align: center;
  border-style: solid 2px;
  display: table;
}
.mapMarker{
  position: absolute;
  top: 50%;
  left: 50%;
  //color: white;
  font-size: 1em;
  margin: 0px auto;
  float: none;
  
  z-index: 5;
  display: table-cell;
  vertical-align: middle;
}