.cmdErrores{
    background-color: red;
    color: white;
}
.pantalla-completa{

  height: 100vh;
  // background-color: #5506C1;
}
body{
  font-family: 'Muli', sans-serif;

}

h2{ 
   font-family: 'Open Sans', sans-serif;
   color: #5506C1;
}
.logo{
  text-align: center;

}
a{
  color: #5506C1;
  text-decoration: none;
  line-height: 2em;
}